[user]
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	view = !gitk
[tar "tar.xz"]
	command = xz -c
[user]
	email = jxwazxzhp@163.com
	name = kabir\n
